# Kafka
confluent-kafka==2.6.1

# Fake data generation
faker==33.1.0

# Web framework
fastapi==0.115.5
uvicorn[standard]==0.32.1

# Data validation
pydantic==2.10.3
pydantic-settings==2.6.1

# Logging
structlog==24.4.0

# Metrics
prometheus-client==0.21.0